DB_BACKEND=mysql
DB_HOST=nubank_sentiment
DB_PORT=3306
DB_NAME=silver
DB_USER=admin
DB_PASSWORD=9oW2%eh$9gR

AWS_REGION=sa-east-1
S3_BUCKET=nubank-cloud-gbs-019769367320
S3_KEY_PREFIX=nubank-sentiment
