.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.env
*.pyc
*.pyo
*.pyd
*.log
*.db

data/raw/**/*.csv
data/raw/**/*.json
data/raw/**/*.parquet

data/bronze/**/*.csv
data/bronze/**/*.json
data/bronze/**/*.parquet

data/silver/**/*.csv
data/silver/**/*.json
data/silver/**/*.parquet

data/gold/**/*.csv
data/gold/**/*.json
data/gold/**/*.parquet

data/output/**
!data/output/.gitkeep

models/
!src/models/
!src/models/*.py

artifacts/**
!artifacts/.gitkeep