.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.env
*.pyc
*.pyo
*.pyd
*.log
*.db

data/**
!data/.gitkeep
!data/**/.gitkeep

models/
!src/models/
!src/models/*.py

artifacts/**
!artifacts/.gitkeep
